/* VARIABLES */
$text-size: 16px;
$text-color: #161616; 
$headline-size: 16px;
$headline-color: #25232a;
$background-color: #e1f5ff;
$background-light: rgba(36,94,135, .5);
$background-mid: rgba(225,245,254, .7);
$background-dark: rgba(57,58,66, .8);
$primary-dark: #161616; 
$primary-mid: #245e88; 
$primary-light: #fff; // color of links  
$secondary-dark: #272727; 
$secondary-light: #e1e1e1;
$secondarybacground-light: #c5c4c49d; // color of links  
